@model MurvasBokhandel.Models.Mockup

@{
    ViewBag.Title = "Borrow Section";
}

<h2>Lånade böcker</h2>
<div>
    <form>
        <select name="bookSelected" class="form-control">
            @for (int i = 0; i < 5; i++) {
                <option>@Model.books[i].title - @Model.books[i].author - @Model.books[i].daysLeft dagar kvar</option>    
            }
            
        </select> <br />
        <input value="Låna om" type="button" style="float: right" class="btn btn-success"/>  
    </form>
</div>
