@model MurvasBokhandel.Models.Mockup

@{
    ViewBag.Title = "Borrow Section";
}

<h2>Lånade böcker</h2>
<div>
    <form>
        <table class="table table-striped">
            <th class="info">
                <font size="5">Bok</font>
            </th>
            <th class="info">
                <font size="5">Författare</font>
                
            </th>
            <th class="info">
                <font size="5">Publicerad</font>
                <input value="Låna om alla" type="button" style="float: right" class="btn btn-info" />
            </th>
            @for (int i = 0; i < 3; i++)
            {
                <tr>
                    <td>
                        @Model.books[i].book.Title
                    </td>
                    <td>
                        @Model.books[i].author.FirstName @Model.books[i].author.LastName
                    </td>
                    <td>
                        (@Model.books[i].book.PublicationYear)
                        <input value="Låna om" type="button" style="float: right" class="btn btn-default" />
                    </td>
                </tr>
            }
        </table>
</form>
</div>
