@model Common.Model.LettersAndAuthors

@{
    ViewBag.Title = "BrowseAuthor";
}

<h2>Browse all Author</h2>
<ul class="list-inline">
    @foreach (var letter in Model.Letters)
    {
        <li><a href="/Public/BrowseAuthor/?letter=@letter">@letter</a></li>
    }
</ul>
<div>
    <ul>
        @foreach (var author in Model.Authors)
        {
            <li>
                <a href="/Author/GetAuthor/?Aid=@author.Aid">@author.LastName @author.FirstName</a>
            </li>
        }
    </ul>
</div>