@model IList<MurvasBokhandel.Models.Mockup.BOOK>
    @{
        ViewBag.Title = "BrowseBook";
    }

    <h2>Browse by Book</h2>
    <div>
        <ul>
            @foreach (var bok in Model)
            {
                <li>
                    <a href ="/Book/GetBook/?ISBN=@bok.ISBN">@bok.Title</a>
                </li>
            }
        </ul>
    </div>

