@model IList<Repository.EntityModel.author>
@{
    ViewBag.Title = "Författare";
}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Författare <small><label class="label label-warning">Administratorläge</label></small>
            <a href="/AuthorAdmin/Create" class="btn btn-default pull-right">Skapa ny författare</a>
        </h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-2 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center"><a href="/AuthorAdmin/Start?orderBy=Aid">#</a></th>
                    <th class="text-center"><a href="/AuthorAdmin/Start?orderBy=FirstName">Författarnamn</a></th>
                    <th class="text-center"><a href="/AuthorAdmin/Start?orderBy=BirthYear">Födelseår</a></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Author in Model)
                {
                    <tr>
                        <td>@Author.Aid</td>
                        <td><a href="/AuthorAdmin/Author/@Author.Aid">@Author.FirstName @Author.LastName</a></td>
                        <td>@Author.BirthYear</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

